{% extends "base.html" %}

{% load static i18n %}

{% block javascript %}

<script src="{% static 'js/vendors~2player~about~ring.bundle.js' %}"></script>
<script src="{% static 'js/vendors~2player~ring.bundle.js' %}"></script>
<script src="{% static 'js/ring.bundle.js' %}"></script>

{% endblock javascript %}

{% block ring_active %}active{% endblock %}

{% block content %} {% verbatim %}
<div id="app">
  <h1>Ring games</h1>

  <div class="row mb-3">
    <div class="col-sm-auto">
      <label for="numPlayers" class="col-sm-auto">Number of players</label>
    </div>
    <div class="col-sm-6">
      <counter v-model="numPlayers" id="numPlayers"></counter>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-auto">
      <label for="numStrategies" class="col-sm-auto">Number of strategies</label>
    </div>
    <div class="col-sm-6">
      <counter v-model="numStrategies" id="numStrategies"></counter>
    </div>
  </div>

  <div v-for="index in playerRange">
    <div class="card">
      <div class="card-header" role="tab">
        <h5 class="mb-0">
          <a data-toggle="collapse" :href="'#' + 'p' + index">
            Player {{ names[index] }} payoffs
          </a>
        </h5>
      </div>

      <div :id="'p' + index" class="collapse show">
        <div class="card-body table-responsive">
          <edit-table v-model="payoffs[index]"
                      :name-row="names[index]"
                      :name-col="(index + 1) == numPlayers ? names[0] : names[index+1]">
          </edit-table>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#probabilities">
          Empirical frequencies (probabilities)
        </a>
      </h5>
    </div>

    <div id="probabilities" class="collapse show">
      <div class="card-body table-responsive">
        <edit-table v-model="probabilities"
                    :row-names="rowNames" :col-names="colNames">
        </edit-table>
      </div>
    </div>
  </div>

  <hr>

  <div class="alert alert-danger mt-3" v-show="probabilitiesError">
    {{errorMessage}}
  </div>
  <div class="row">
    <div class="col">
      <button :disabled="calculating" @click="calculate()" class="btn btn-primary">
        {{buttonStatus}}
      </button>
    </div>
    <div class="col">
      <div class="btn-group float-right">
        <button type="button" class="btn btn-secpndary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Examples
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" @click="setExample(0)">4 players, 3 strategies</a>
        </div>
      </div>
    </div>
  </div>


  <hr>

  <div v-show="calculated">
    <h2>Results</h2>
    <span>Estimated p-value:</span> {{bisection.middle | round(3) }} </br>
    <span>P-value range:</span> [{{bisection.lower | round(3) }}, {{bisection.upper | round(3) }}]</br>
  </div>

 <hr>
</div>
{% endverbatim %}{% endblock content %}
